<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<import resource="classpath:hibernateConfig.xml" />


	<bean id="inviteDAOImpl" class="com.mobileware.dao.impl.InviteDAOImpl" />
	<bean id="hibernateConfig" class="com.mobileware.app.HibernateConfig">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="inviteService" class="com.mobileware.service.InviteService">
		<property name="inviteDAO" ref="inviteDAOImpl" />
	</bean>



</beans>